@charset "utf-8";

.task-table {
  width: 100%;
}

.task-table th {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

.task-td-widthAuto {
  width: auto;
}

.task-td-width10 {
  width: 10%;
}

.task-td-width0 {
  width: 0%;
}
