@charset "utf-8";

.preset-search-container {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.preset-search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
}

.preset-search-container .material-symbols-outlined {
    color: var(--gray);
}

.preset-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.preset-list-item {
  background-color: var(--mild-gray);
  color: var(--black);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
}

.preset-list-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.preset-name {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--black);
  margin-right: 1.7rem;
}

.preset-info-ul {
  list-style: none;
  color: var(--main-color);
  padding: 0;
  margin: 0.5rem 0 0 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.preset-info-item {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
}

.preset-info-item .material-symbols-outlined {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.preset-info-smallText {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.preset-list-deleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--gray);
  border: none;
  background-color: transparent;
  padding: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.preset-list-deleteButton:hover {
  color: var(--mild-red);
}

@media screen and (max-width: 480px) {
  .preset-list-container {
    display: flex;
    flex-direction: column;
  }
}
