@charset "utf-8";

.preset-sortButton-container {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--mild-gray);
  display: flex;
  gap: 0.5rem;
}

.preset-sortButton-container button {
  background-color: var(--white);
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
}

.preset-sortButton-container .active-sortButton {
  background-color: var(--main-color);
  color: var(--white);
  padding: 0.2rem 0.2rem 0.2rem 0.7rem;
}
