@charset "utf-8";

.side-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu-info-container {
      justify-content: center;
    align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 4rem;
  font-size: 2rem;
}

.side-menu h3 {
  display: flex;
  flex-direction: column;
}

.mainColor-text {
  color: var(--main-color);
}

.mildRed-text {
  color: var(--mild-red);
}

.gray-text {
  color: var(--gray);
  font-weight: normal;
  font-size: 1.2rem;
}

.big-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.preset-run-deleteButton-container {
  margin-top: auto;
  margin-bottom: 1rem;
  border-top: 0.1rem solid var(--mild-gray);
  padding-top: 1rem;
}

.preset-run-deleteButton {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
  border: none;
  background-color: transparent;
  color: var(--gray);
  width: auto;
}

.preset-run-deleteButton:hover {
  color: var(--mild-red);
  text-decoration: underline;
}

.preset-run-deleteButton span {
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .side-menu-info-container {
    flex-direction: row;
    gap: 0rem;
    margin: 0;
  }

  .side-menu-info-container h3 + h3 {
    border-left: 0.1rem solid var(--mild-gray);
    padding-right: 0;
    padding-left: 1rem;
  }

  .side-menu h3 {
    margin: 1rem 0;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }

  .preset-run-deleteButton-container {
    margin-bottom: 0;
  }

  .preset-run-deleteButton {
    margin-bottom: 0;
  }
}
