@charset "utf-8";

.sidemenu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidemenu-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  gap: 4rem;
  font-size: 2rem;
}

.sidemenu h3 {
  display: flex;
  flex-direction: column;
}

.mainColor-text {
  color: var(--main-color);
}

.mildRed-text {
  color: var(--mild-red);
}

.gray-text {
  color: var(--gray);
  font-weight: 400;
  font-size: 1.2rem;
}

.big-text {
  font-size: 2.5rem;
  font-weight: 700;
}

.sidemenu-button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: 1rem;
  border-top: 0.1rem solid var(--mild-gray);
  padding-top: 1rem;
}

.preset-run-editButton,
.preset-run-deleteButton {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
  border: none;
  background-color: transparent;
  color: var(--gray);
  width: auto;
  border-radius: 100vmax;
}

.preset-run-editButton:hover,
.preset-run-deleteButton:hover {
  background-color: var(--mild-gray);
  color: var(--black);
  font-weight: 500;
}

.preset-run-editButton span,
.preset-run-deleteButton span {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .sidemenu {
    padding: 0 1.5rem;
  }
  .sidemenu-info-container {
    flex-direction: row;
    gap: 0rem;
    margin: 1rem 0 0 0;
  }

  .sidemenu h3 {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .sidemenu-button-container {
    margin-top: 1rem;
    margin-bottom: 0;
    gap: 0.5rem;
  }

  .preset-run-editButton,
  .preset-run-deleteButton {
    margin-bottom: 0;
  }
}
