@charset "utf-8";

.side-menu {
  /* width: 200px; */
  background-color: var(--white);
  padding: 1.5rem;
  /* height: 100vh; */
  border-radius: 20px;
  text-align: center;
}

.app-name {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--gray);
}

.menu-list {
  padding-left: 0;
}

.menu-list li {
  list-style: none;
  margin: 1rem 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 100px;
}

.menu-list li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
}

.side-menu .active {
  background-color: var(--main-color);
}

.side-menu .active a {
  color: var(--white);
}
