@charset "utf-8";

:root {
	--main-color: #6580D9;
  --black: #303030;
  --gray: #9e9e9e;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

.side-menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 2rem 1.5rem;
  height: 100vh;
  border-radius: 20px;
}

.app-name {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--gray);
}

.menu-list li {
  list-style: none;
  margin: 2rem 0;
}

.menu-list li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
}
