@charset "utf-8";

.side-menu {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  align-items: center;
}

.app-name {
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid var(--mild-gray);
}

.menu-list {
  padding: 0;
  margin-top: 2rem;
}

.menu-list li {
  list-style: none;
  margin: 1rem 0.5rem;
}

.menu-list li a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease;
}

.menu-list li a:hover {
  background-color: var(--mild-gray);
}

.side-menu .active a {
  background: linear-gradient(180deg, var(--main-color), #556ed1);
  color: var(--white);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.side-menu .active a:hover {
  background: linear-gradient(180deg, var(--main-color), #556ed1);
}
