@charset "utf-8";

.account-main {
  flex-direction: column;
  justify-content:center;
	align-items:center;
  max-width: 800px;
}

.account-appName-container,
.account-content-area {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
}

.account-appName-container {
  padding: 1.5rem;
}

.account-appName-container .app-name {
  border-bottom: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
}

.account-content-area {
  padding: 2rem 4rem;
}

.account-link-container {
  text-align: center;
  margin-bottom: 1rem;
}

.account-link-container a {
  text-decoration: none;
}

.account-link-container a:hover span {
  text-decoration: underline;
  font-weight: 500;
}

.account-link-container a span {
  display: inline-block;
}

.account-content-area .button-container {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .account-main {
    display: flex;
    height: 100vh;
  }

  .account-appName-container,
  .account-content-area {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
}
