@charset "utf-8";

:root {
	--main-color: #6580D9;
  --black: #303030;
  --gray: #9e9e9e;
  --mild-gray: #eaeaea;
  --white: #ffffff;
  --mild-red: #d96565;
  --mild-blue: #6595d9;
  --mild-yellow: #edcc3b;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, var(--main-color), #4d65cd);
  overflow-y: hidden;
}

main {
  display: flex;
  height: 100vh;
  padding: 1.5rem;
  gap: 1rem;
  max-width: 1280px;
  min-width: 1000px;
  margin: 0 auto;
}

.content-area {
  flex: 5;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.content {
  flex: 1;
  height: 100%;
  padding: 0.5rem 1.5rem;
  overflow-y: auto;
}

.page-title {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container label {
  font-size: 1rem;
  display: block;
  display: inline-flex;
	align-items: center;
}

.input-container label .material-symbols-outlined {
  margin-right: 0.2rem;
  color: var(--gray);
}

form [type="text"],
form [type="number"],
form [type="time"],
form select {
  background-color: var(--mild-gray);
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--mild-gray);
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

form [type="text"]:focus,
form [type="number"]:focus,
form [type="time"]:focus,
form select:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 0 3px rgba(101, 128, 217, 0.2);
}

.error-input {
  outline: 2px solid var(--mild-red);
}

.error-message {
  color: var(--mild-red);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.main-button {
  background: linear-gradient(180deg, var(--main-color), #556ed1);
  color: var(--white);
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.main-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.sub-button {
  background-color: var(--white);
  color: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.sub-button:hover {
  background: linear-gradient(180deg, var(--main-color), #556ed1);
  color: var(--white);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.close-button {
  background-color: var(--white);
  color: var(--mild-red);
  border: 0.1rem solid var(--mild-red);
  border-radius: 0.5rem;
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-button:hover {
  background-color: var(--mild-red);
  color: var(--white);
}

.close-button:disabled {
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}

.close-button:disabled:hover {
  background-color: var(--white);
  cursor: not-allowed;
}

.no-textDecoration {
  text-decoration: none;
}
